# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/

# Flask
instance/
.env
.venv

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and Databases
*.log
*.sqlite3

# Miscellaneous
*.swp
.DS_Store